<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nsu.dao.SeedInfoDao">
  <resultMap id="BaseResultMap" type="com.nsu.entity.SeedInfo">
    <id column="seedid" jdbcType="VARCHAR" property="seedid" />
    <result column="seedname" jdbcType="VARCHAR" property="seedname" />
    <result column="supplierid" jdbcType="VARCHAR" property="supplierid" />
    <result column="storagenum" jdbcType="DOUBLE" property="storagenum" />
    <result column="innum" jdbcType="DOUBLE" property="innum" />
    <result column="outnum" jdbcType="DOUBLE" property="outnum" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    seedid, seedname, supplierid, storagenum, innum, outnum, updatetime, status
  </sql>
  <select id="selectByExample" parameterType="com.nsu.entity.SeedInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from seedinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from seedinfo
    where seedid = #{seedid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from seedinfo
    where seedid = #{seedid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.nsu.entity.SeedInfoExample">
    delete from seedinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nsu.entity.SeedInfo">
    insert into seedinfo (seedid, seedname, supplierid, 
      storagenum, innum, outnum, 
      updatetime, status)
    values (#{seedid,jdbcType=VARCHAR}, #{seedname,jdbcType=VARCHAR}, #{supplierid,jdbcType=VARCHAR}, 
      #{storagenum,jdbcType=DOUBLE}, #{innum,jdbcType=DOUBLE}, #{outnum,jdbcType=DOUBLE}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.nsu.entity.SeedInfo">
    insert into seedinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seedid != null">
        seedid,
      </if>
      <if test="seedname != null">
        seedname,
      </if>
      <if test="supplierid != null">
        supplierid,
      </if>
      <if test="storagenum != null">
        storagenum,
      </if>
      <if test="innum != null">
        innum,
      </if>
      <if test="outnum != null">
        outnum,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seedid != null">
        #{seedid,jdbcType=VARCHAR},
      </if>
      <if test="seedname != null">
        #{seedname,jdbcType=VARCHAR},
      </if>
      <if test="supplierid != null">
        #{supplierid,jdbcType=VARCHAR},
      </if>
      <if test="storagenum != null">
        #{storagenum,jdbcType=DOUBLE},
      </if>
      <if test="innum != null">
        #{innum,jdbcType=DOUBLE},
      </if>
      <if test="outnum != null">
        #{outnum,jdbcType=DOUBLE},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nsu.entity.SeedInfoExample" resultType="java.lang.Long">
    select count(*) from seedinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update seedinfo
    <set>
      <if test="row.seedid != null">
        seedid = #{row.seedid,jdbcType=VARCHAR},
      </if>
      <if test="row.seedname != null">
        seedname = #{row.seedname,jdbcType=VARCHAR},
      </if>
      <if test="row.supplierid != null">
        supplierid = #{row.supplierid,jdbcType=VARCHAR},
      </if>
      <if test="row.storagenum != null">
        storagenum = #{row.storagenum,jdbcType=DOUBLE},
      </if>
      <if test="row.innum != null">
        innum = #{row.innum,jdbcType=DOUBLE},
      </if>
      <if test="row.outnum != null">
        outnum = #{row.outnum,jdbcType=DOUBLE},
      </if>
      <if test="row.updatetime != null">
        updatetime = #{row.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.status != null">
        status = #{row.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update seedinfo
    set seedid = #{row.seedid,jdbcType=VARCHAR},
      seedname = #{row.seedname,jdbcType=VARCHAR},
      supplierid = #{row.supplierid,jdbcType=VARCHAR},
      storagenum = #{row.storagenum,jdbcType=DOUBLE},
      innum = #{row.innum,jdbcType=DOUBLE},
      outnum = #{row.outnum,jdbcType=DOUBLE},
      updatetime = #{row.updatetime,jdbcType=TIMESTAMP},
      status = #{row.status,jdbcType=INTEGER}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nsu.entity.SeedInfo">
    update seedinfo
    <set>
      <if test="seedname != null">
        seedname = #{seedname,jdbcType=VARCHAR},
      </if>
      <if test="supplierid != null">
        supplierid = #{supplierid,jdbcType=VARCHAR},
      </if>
      <if test="storagenum != null">
        storagenum = #{storagenum,jdbcType=DOUBLE},
      </if>
      <if test="innum != null">
        innum = #{innum,jdbcType=DOUBLE},
      </if>
      <if test="outnum != null">
        outnum = #{outnum,jdbcType=DOUBLE},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where seedid = #{seedid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nsu.entity.SeedInfo">
    update seedinfo
    set seedname = #{seedname,jdbcType=VARCHAR},
      supplierid = #{supplierid,jdbcType=VARCHAR},
      storagenum = #{storagenum,jdbcType=DOUBLE},
      innum = #{innum,jdbcType=DOUBLE},
      outnum = #{outnum,jdbcType=DOUBLE},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where seedid = #{seedid,jdbcType=VARCHAR}
  </update>
</mapper>